@font-face {
  font-family: "Sans";
  src: url("../fonts/sans.woff2") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Serif";
  src: url("../fonts/serif.woff2") format("ttf");
  font-weight: normal;
  font-style: normal;
}

--root {
  --background: #1e1e1e;
  --light: #ccd5db;
  --primary: #726ee0;
  --secondary: #eb5755;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background);
}

body {
  font-family: "Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(
    to bottom,
    var(--background) 0%,
    var(--background) 70%,
    var(--primary) 100%
  );
  color: var(--light);
}

